@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


body{
    font-family: 'Lexend', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-image{
background : linear-gradient(0deg, rgba(21, 11, 43, 0.90) 0%, rgba(21, 11, 43, 0.00) 95%), url("../src/assets/images/banner.jpeg") lightgray 0px -18.896px / 100% 123.31%;
background-repeat: no-repeat;
}
